<script>
  new WOW().init();
</script>
<img class="center-block wow fadeInUp" data-wow-duration="2000ms" data-wow-delay="300ms" src="images/deportes-background.png" width="80%">

<div class="container">
  <div class="banner-bottom-grids">
    <div class="col-md-8 banner-bottom-grid wow fadeInRightBig" data-wow-duration="1500ms" data-wow-delay="300ms">
      <h2>Todos los eventos deportivos a tu alcance</h2>
      <p>Accede al directo de numerosos eventos deportivos de la forma mas facil. La primera vez deberas realizar
        unos simples pasos para preparar tu equipo y que todo funcione correctamente.
      </p>
      <p><b>Lo novedoso de esta web es que no te intentará engañar con publicidades ni de hará dar mil vueltas para poder
        ver la carrera o partido que estabas buscando, NO, aquí la publicidad agresiva está prohibida!</b></p>
      <div class="more">
        <a href="#/events" class="hvr-curl-bottom-right" ng-click="setNavActive('events')">Ir a eventos deportivos disponibles</a>
      </div>
    </div>
    <div class="col-md-4 banner-bottom-grid wow flipInY" data-wow-duration="2000ms" data-wow-delay="300ms">
      <img src="images/eventos_deportivos.png" alt=" " class="img-responsive" />
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="banner-bottom-grids">
    <div class="col-md-4 banner-bottom-grid wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
      <img src="images/hd_video.png" alt=" " class="img-responsive" width="65%"/>
    </div>
    <div class="col-md-8 banner-bottom-grid wow fadeInLeftBig" data-wow-duration="1500ms" data-wow-delay="100ms">
      <h2>Alta calidad de video y audio</h2>
      <p>Utilizando los ultimos avances en tecnicas de streaming, ofrecemos una calidad de video y audio excepcional.
        Logicamente todo depende del ancho de banda de la fuente, y si es posible visualizarlo en alta calidad.</p>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="banner-bottom-grids">
    <div class="col-md-8 banner-bottom-grid wow fadeInLeftBig" data-wow-duration="1500ms" data-wow-delay="100ms">
      <h2>NO rotundo a la publicidad agresiva</h2>
      <p>Como hemos comentario anteriormente, estamos totalmente en contra de la publicidad excesiva y agresiva,
        provoca una mala experiencia y frustración a todos los usuarios. Por otro lado también es cierto que es necesaria
        para poder mantener el servicio y es por ello que te agradeceríamos que si estás contento como funciona esta web
        y nos quieres ayudar, tan solo tienes que pinchar de vez en cuando en algunos de los anuncios.</p>
    </div>
    <div class="col-md-4 banner-bottom-grid wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
      <img src="images/menos_publicidad.jpg" alt=" " class="img-responsive"/>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="footer-grids">
      <div class="col-md-2 footer-grid wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h3>Autor</h3>
        <img src="images/yomismo.jpg" class="img-responsive" alt=" "/>
      </div>
      <div class="col-md-5 footer-grid wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h3>Sobre mi</h3>
        <p class="text-justify">Me llamo Ricardo Romaní Trillo y soy un ingeniero de software con inquietudes en las nuevas tecnologías y los nuevos paradigmas
          de la programación. La inspiración de esta web no es otra que ofrecer a personas que no son tan duchas con la tecnología
          disfrutar de eventos deportivos en directo de una forma facil, rápida y de buena calidad.</p>

        <div class="clearfix"> </div>
      </div>
      <div class="col-md-5 footer-grid wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h3>Enlaces de interés</h3>
        <ul>
          <li><a href="http://acestream.org/">Proyecto Acestream</a></li>
          <li><a href="https://livestream.com/">Livestream</a></li>
          <li><a href="http://www.tarjetarojaonline.me/">Rojadirecta</a></li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
