<!--<div class="col-md-12 text-center">
  <img src="/images/construccion.png" width="70%" />
</div>
-->
<div class="col-md-8 col-md-offset-2">
  <div class="jumbotron" style="margin-bottom: 1em;">
    <h2>Tutorial de uso para Windows<h2>
    <h3>(cualquier versión)</h3><br>
    <h5>La aplicación AceStream es necesaria si pretendes ver eventos a través de esta web, es totalmente gratuito, sin ningún tipo de trampa.</h5>
  </div>
  <div class="tutorial-step alert alert-info text-justify">
    <h4>Con estes sencillos 3 pasos configurarás tu equipo para poder disfrutar gratis de los contenidos disponibles.</h4>
  </div>
  <div class="tutorial-step">
    <h3 class="title">1. Descarga la aplicación AceStream.</h3>
    <p>
      Pulsa en el siguiente botón para iniciar la descarga. <a class="btn btn-primary" href="http://dl.acestream.org/products/acestream-full/win/latest">Descarga</a>
    </p>
  </div>
  <div class="tutorial-step">
    <h3 class="title">2. Instala la aplicación AceStream.</h3>
    <p>
      Una vez descargada la aplicación, pulsamos sobre ella para iniciar la instalación. Realizaremos una instalación típica, sin tocar nada, pulsando en 'Siguiente' tantas veces como aparezca en el instalador y finalmente pulsando sobre 'Instalar'.
    </p>
  </div>
  <div class="tutorial-step">
    <h3 class="title">3. Configurar la aplicación AceStream.</h3>
    <p>
      A continuación, en la bandeja del sistema de Windows, junto al reloj, haz clic sobre el triángulo para desplegar las aplicaciones que están activas.<br/><br/>
      Entre ellas, localiza el icono de Ace Stream y haz clic sobre él con el botón derecho del ratón.<br/><br/>
      <img src="/images/AceStreamInstallStep3.png" /><br/><br/>
      Acto seguido se mostrará el menú de opciones de Ace Stream. En este menú, haz clic sobre Options…<br/><br/>
      Cambia el valor del campo VOD buffer,s a 10 y el de Live buffer ,s a 60.<br/><br/>
      Haz clic sobre Apply y OK para guardar la nueva configuración.
    </p>
  </div>
  <div class="jumbotron" style="margin-top: 3em;">
    <h2>Has terminado con el tutorial</h2><br/>
    <h4>
      Ya puedes comenzar a disfrutar de todos los eventos disponibles
    </h4><br/>
    <a href="#/events" class="btn btn-lg btn-primary" ng-click="setNavActive('events')">Ir a eventos deportivos disponibles</a>
  </div>
</div>
